DJANGO_SECRET_KEY=<< Your Detail >>
django-secret-key=<< Your Detail >>
WAJO_OTP_SERVICE_URL=<< Your Detail >>
wajo-otp-service-url=<< Your Detail >>

WAJO_AZURE_OPENAI_KEY=<< Your Detail >>
WAJO_AZURE_OPENAI_ENDPOINT=<< Your Detail >>
wajo-google-gemini-api-key=<< Your Detail >>



# UAE North latest as of 25nd July 2024
# Production DB
# wajo-db-name="postgres"
# wajo-db-host="postgres-uae.postgres.database.azure.com"
# wajo-db-port="5432"
# wajo-db-user="adminwajo"
# wajo-db-password="ineedpostgresinuae@2207"

# Staging DB
wajo-db-name=<< Your Detail >>
wajo-db-host=<< Your Detail >>
wajo-db-port=<< Your Detail >>
wajo-db-user=<< Your Detail >>
wajo-db-password=<< Your Detail >>

# Local DB
# wajo-db-name="wajo_dev"
# wajo-db-host="wajo-postgres"
# wajo-db-port="5432"
# wajo-db-user="wajo_user"
# wajo-db-password="wajo_password"


# Production
# WAJO_AZURE_STORAGE_ACCOUNT_NAME=<< Your Detail >>
# WAJO_AZURE_STORAGE_ACCOUNT_KEY=<< Your Detail >>

# Development
wajo-azure-storage-account-name=<< Your Detail >>
wajo-azure-storage-account-key=<< Your Detail >>
wajo-azure-storage-connection-string=<< Your Detail >>

# wajo-azure-storage-account-name=<< Your Detail >>
# wajo-azure-storage-account-key=<< Your Detail >>

# Staging
# WAJO_AZURE_STORAGE_ACCOUNT_NAME=<< Your Detail >>
# WAJO_AZURE_STORAGE_ACCOUNT_KEY=<< Your Detail >>
openai-api-key=<< Your Detail >>

# Rapid API
wajo-rapid-api-key=<< Your Detail >>
wajo-rapid-api-host=<< Your Detail >>
wajo-rapid-api-url=<< Your Detail >>

# wajo-notifications-api-url=<< Your Detail >>
wajo-notifications-api-url=<< Your Detail >>


tracevision-customer-id = 14397
tracevision-api-key=<< Your Detail >>
tracevision-graphql-url=<< Your Detail >>


project-name=wajo_backend
django-settings-module=<< Your Detail >>


# Celery setup
celery-broker-url=<< Your Detail >>
# celery-broker-url=<< Your Detail >>